@model Maonot_Net.Models.Message

@{
    ViewData["Title"] = "Details";
    var a = ViewBag.Aut;

    if (a.Equals("1"))
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("3"))
    {
        Layout = "~/Views/Shared/HouseKeep.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("5"))
    {
        Layout = "~/Views/Shared/Culture.cshtml";
    }
    else if (a.Equals("6"))
    {
        Layout = "~/Views/Shared/Security.cshtml";
    }
    else if (a.Equals("7"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Candidate.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NotUser.cshtml";
    }
}


<h2>@Html.DisplayFor(model => model.Subject)</h2>
<br /><br />
      <dl class="dl-horizontal">
          <dt>
              @Html.DisplayNameFor(model => model.Addressee)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Addressee)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.MsgTime)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.MsgTime)
          </dd>
      </dl>
<div>
    
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה לדואר נכנס</a>
</div>
