@model PaginatedList<Maonot_Net.Models.Message>


@{
    ViewData["Title"] = "Index";
    var a = ViewBag.Aut;


    if (a.Equals("1"))
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("3"))
    {
        Layout = "~/Views/Shared/HouseKeep.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("5"))
    {
        Layout = "~/Views/Shared/Culture.cshtml";
    }
    else if (a.Equals("6"))
    {
        Layout = "~/Views/Shared/Security.cshtml";
    }
    else if (a.Equals("7"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Candidate.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NotUser.cshtml";
    }
}
<h2>דואר נכנס</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">שליחת הודעה</a>
    @if (a.Equals("1") || a.Equals("2") || a.Equals("3") || a.Equals("4") || a.Equals("5"))
    {
        <a asp-action="SendAll" class="btn btn-primary">שליחת הודעה לכולם</a>
    }
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            מצא לפי נושא: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="חפש" class="btn btn-default" /> |
            <a asp-action="Index">חזרה לכל ההודעות</a>
        </p>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                מאת
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">נושא</a>
            </th>

            <th>
                תאריך ושעה
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MsgTime)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.MessageID"class="btn btn-info">צפייה בהודעה</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    הקודם
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    הבא
</a>
