
@model PaginatedList<Maonot_Net.Models.Assigning>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>רשימת דיירים</h2>

<a asp-controller="Apartments" asp-action="Assigning">הפעלת השיבוץ</a>

<a asp-controller="Apartments" asp-action="NotAssigning">רשימת סטודנטים לא משובצים</a>

<p> תפוסת דיירים @ViewBag.c</p>

<p>
    חיפוש לפי שם: @Html.TextBox("SearchString")
    <input type="submit" value="חיפוש" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("ת.ז", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("מספר דירה", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               מספר חדר
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StundetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">עריכה</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">מחיקה</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    הקודם
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    הבא
</a>