
@{
    ViewData["Title"] = "Wellcome";
    var a = ViewBag.Aut;

    if (a.Equals("1"))
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("3"))
    {
        Layout = "~/Views/Shared/HouseKeep.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("5"))
    {
        Layout = "~/Views/Shared/Culture.cshtml";
    }
    else if (a.Equals("6"))
    {
        Layout = "~/Views/Shared/Security.cshtml";
    }
    else if (a.Equals("7"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Candidate.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NotUser.cshtml";
    }
}

<h2>
    ברוכ/ה הבא/ה
    @ViewBag.username
</h2>
<section id="user">
    <table class="table">
        <thead>
            <tr>
                <th>
                    פרטיים אישיים
                </th>
                <th>
                    פרטי השיבוץ
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>  שם מלא:@ViewBag.user.FullName
                        <li> תעודת זהות: @ViewBag.user.StundetId</li>
                        <li> כתובת דוא"ל:@ViewBag.user.Email</li>
                    </ul>
                      <a asp-controller="Users" asp-action="Edit" asp-route-id="@ViewBag.user.ID">עריכה</a>

                </td>
                <td>
                    <ul>
                        <li>
                            מספר דירה:@ViewBag.user.ApartmentNum
                        </li>
                        <li> מספר חדר:@ViewBag.user.Room</li>

                    </ul>
                    <a asp-controller="Messages" asp-action="Create">שליחת הודעה לשינוי שיבוץ</a>

                </td>
            </tr>

        </tbody>
</table>
</section>

<section id="listFaults">
    <h3>תקלות</h3>
    <table class="table" width="40" >
        <thead>
            <tr>
                <th>
                    תיאור התקלה
                </th>
                <th>
                    תוקן / לא תוקן
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (FaultForm f in ViewBag.listFaults)
                {
            <tr>
                <td>
                    @f.Description
                </td>
                <td>
                    @{
                        var tmp = @f.Fix;
                        string str="";
                        if (tmp){
                            str = "תוקן";
                        }
                        else
                        {
                            str = "לא תוקן";                        }
                    }
                    @str
                </td>

            </tr>
                }

            }
            </tbody>
        </table>
</section>

<section id="Warninglist">
    <h3>אזהרות</h3>
    <table class="table" width="40">
        <thead>
            <tr>
                <th>
                    מספר אזהרה 
                </th>
                <th>
                    תאריך הפרת נוהל אירוח 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Warning w in ViewBag.Warninglist)
                {
                    <tr>
                        <td>
                            @w.WarningNumber
                        </td>
                        <td>
                            @w.Date
                        </td>

                    </tr>
                }

            }
        </tbody>
    </table>
</section>



@Html.Raw(TempData["msg"])
@Html.Raw(TempData["msg1"])