@model Maonot_Net.Models.ApprovalKit

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>מחיקת רשומה</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>


<h3>האם למחוק את הרשומה?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StundetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StundetId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LivingWithReligious)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivingWithReligious)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LivingWithSmoker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LivingWithSmoker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReligiousType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReligiousType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthCondition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthCondition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartnerId1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerId1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartnerId2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerId2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartnerId3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerId3)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">חזרה לרשימה</a>
    </form>
</div>
