
@{
    ViewData["Title"] = "NotAssigning";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>רשימת סטודנטים לא משובצים</h2>

    <table class="table">
        <thead>
            <tr>
                <th> שם מלא</th>
                <th> סוג דירה</th>
                <th>מגורים עם סטודנט/ית דתי/יה</th>
                <th>מגורים עם סטודנט/ית מעשנ/ת</th>
                <th>מגבלה רפואית</th>
                <th> דת</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (ApprovalKit a in ViewBag.NotAssigning)
                {
                    @if (a != null)
                    {
            <tr>
               
                <td>@a.FullName</td>
                <td>@a.RoomType</td>
                <td>@a.LivingWithReligious</td>
                <td>@a.LivingWithSmoker</td>
                <td>@a.HealthCondition</td>
                <td>@a.ReligiousType</td>
                <td> <a asp-controller="Assignings" asp-action="Change" asp-route-id="@a.ID">שיבוץ</a></td>

            </tr>}
                }

            }
            
        </tbody>
    </table>


