@model PaginatedList<Maonot_Net.Models.Registration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>טפסי בקשה  גברים -יחיד</h2>
<h3> מספר בקשות: @ViewBag.c </h3>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            חיפוש לפי שם: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="חיפוש" class="btn btn-default" /> |
            <a asp-action="Index_Single_Male">בחזרה לרשימה</a>
        </p>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                אושר/לא אושר
            </th>
            <th>
                תעודת זהות
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">שם משפחה</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">שם פרטי</a>
            </th>
            <th>
                ניקוד
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StundetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">בחינת בקשה</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">פרטים</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">מחיקה</a>
                    <div>
                        <div>
                <td>
                    <button id="btnclick" type="button" class="btn btn-success">
                        אישור הרשמה
                    </button>
                </td>
                <div class="modal fade" id="app">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    x
                                </button>
                                <h4>אישור הרשמה</h4>
                            </div>
                            <div class="modal-body">

                                <h3>האם את/ה בטוח/ה שאת/ה רוצה לאשר את ההרשמה?</h3>
                                <br />
                                <form asp-controller="Registrations" asp-action="Yes">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">

                                        <input type="hidden" name="id" id="id" value="@item.ID" />

                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="אישור" class="btn btn-default" />
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>

                </div>

                </div>

                </div>
                </td>
            </tr>

        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action=Index_Single_Male
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    הקודם
</a>
<a asp-action=Index_Single_Male
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    הבא
</a>

<a asp-action="Index" class="btn btn-block ">בחזרה למסך הרשמות</a>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnclick").click(function () {
            $("#app").modal('show');
        });
        $("hidebtnModal").click(function () {
            $("#app").modal('hide');
        });
    })
</script>