@model PaginatedList<Maonot_Net.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>רשימת משתמשים</h2>

<p>
    <a asp-action="Create">יצירת משתמש חדש</a>
</p>
<p>תעודת זהות משתמש:</p>@ViewBag.session
@ViewBag.bbb
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            מצא על פי שם: <input type="text" name="SearchString" value="@ViewData[" currentFilter"]" />
            <input type="submit" value="חפש" class="btn btn-default" /> |
            <a asp-action="Index">בחזרה לרשימה</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @*   @Html.DisplayNameFor(model => model.StundetId)*@תעודת זהות
            </th>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> שם פרטי</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">שם משפחה</a>
            </th>

            <th>
                @*   @Html.DisplayNameFor(model => model.Email)*@ דוא"ל
            </th>
            <th>הרשאה</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StundetId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Authorization)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            הקודם
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            הבא
        </a>
