@model Maonot_Net.Models.Warning

@{
    ViewData["Title"] = "Details";
    var a = ViewBag.Aut;
    if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
}

<h2>פרטי אזהרה</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarningNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarningNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    @if (a.Equals("2")|| a.Equals("4"))
    {
        <a asp-action="Index" class="btn btn-default">בחזרה לרשימה</a>
    }

</div>
