@model IEnumerable<Maonot_Net.Models.Warning>

@{
    ViewData["Title"] = "Index";
    var a = ViewBag.Aut;
    if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
}

<h2>רשימת אורחים</h2>

<p>
    <a asp-action="Create">הכנס אורח חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">מספר אזהרה</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WarningNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WarningId">עריכה</a> |
                    <a asp-action="Details" asp-route-id="@item.WarningId">פרטים</a> |
                    @if (a.Equals("2"))
                    {
                     <a asp-action="Delete" asp-route-id="@item.WarningId">מחיקה</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-4">
    <img src="~/images/warning.png" />
</div>
