@model Maonot_Net.Models.VisitorsLog

@{
    ViewData["Title"] = "Details";
    var a = ViewBag.Aut;
    if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("6"))
    {

        Layout = "~/Views/Shared/Security.cshtml";
    }
}

<h2>פרטים</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnteryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VistorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VistorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitorID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitorID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentFullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentFullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartmentNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index"class="btn btn-default">בחזרה ליומן מבקרים</a>
</div>
