@model PaginatedList<Maonot_Net.Models.VisitorsLog>


@{
    ViewData["Title"] = "Index";
    var a = ViewBag.Aut;

    if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("6"))
    {

        Layout = "~/Views/Shared/Security.cshtml";
    }
}

<h2>Index</h2>

@if (a.Equals("2") || a.Equals("4"))
{
    <p>
        <a asp-action="CheckVistorLog">מעבר על היומן</a>
        @ViewBag.LastDate תאריך בדיקה אחרון
    </p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">תאריך כניסה</a>

            </th>
            <th>
                שם מבקר
            </th>
            <th>
                תז מבקר
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">שם מלא</a>

            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">תאריך יציאה</a>

            </th>
            <th>
                מסםר דירה
            </th>
            <th>
                מספר חדר
            </th>
            <th>
                חתימה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnteryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VistorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFullName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Signature)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (a.Equals("2"))
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    @if (a.Equals("9"))
                    {
                    <a asp-controller="VisitorsLogs" asp-action="Signature" asp-route-id="@item.Id">חתום</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    הקודם
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    הבא
</a>
